doctype html
html
  head
    title Vi du 01
    link(rel="stylesheet", href="/css/style.css")

    //- nhung bootstrap:
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
  body

    div Header

    h1 Trang danh sách sản phẩm

    div Footer
    
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")

    script(src="/js/script.js")